main > section {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 33px;
}

.wrapper-form-registration >:first-child{
    margin-bottom: 33px;
}

.wrapper-link-login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.separate-line-registration {
    width: 140px;
    margin-top: 20px;
}