.wrapper-product {
    display: flex;
    flex-direction: column;

    padding: 35px 20px;
}

.hide {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    font-size: 26px;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'TriodPostnaja', sans-serif;
    font-weight: 300;
    color: #ffffff;

    transition: 0.6s, transform 0.5s;
}

.wrapper-product-img:hover .hide {
    visibility: visible;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;

    background-color: rgba(67, 67, 67, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(2.5px);

    font-family: 'TriodPostnaja', sans-serif;
    font-weight: 300;
    color: #ffffff;
}


.wrapper-product-img:hover+.tag-inner {
    backdrop-filter: blur(2.5px);
}


.wrapper-product-img {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center, 50%, 50%;
    height: 280px;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}

@media screen and (min-width: 1201px) and (max-width: 1350px) {
    .wrapper-product-img {
        height: 260px;
    }
}

@media screen and (min-width: 1351px) and (max-width: 1550px) {
    .wrapper-product-img {
        height: 300px;
    }
}

@media screen and (min-width: 1551px) {
    .wrapper-product-img {
        height: 360px;
    }
}

.product-tag {
    position: absolute;
    left: 10px;
    top: -10px;

    padding: 0 4px;
    border-radius: 25px;

    background: #B700A4;
}

.tag-inner {
    z-index: 10;
}

.wrapper-product-desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.product-desc {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

button {
    padding: 8px 10px;

    background: #1D1D1D;
    border-radius: 5px;

    cursor: pointer;
}

button:hover {
    background: #A38D75;
}