.wrapper-product {
    display: flex;
    flex-direction: column;

    padding: 35px 20px;
}

.wrapper-product-img {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center, 50%, 50%;
    height: 280px;
    width: 100%;
    border-radius: 2px;
}

@media screen and (min-width: 1201px) and (max-width: 1350px) {
    .wrapper-product-img {
        height: 260px;
    }
}

@media screen and (min-width: 1351px) and (max-width: 1550px) {
    .wrapper-product-img {
        height: 300px;
    }
}
@media screen and (min-width: 1551px) {
    .wrapper-product-img {
        height: 360px;
    }
}

.product-tag {
    position: absolute;
    left: 10px;
    top: -10px;

    padding: 0 4px;
    border-radius: 25px;

    background: #B700A4;
}

.tag-inner {
    z-index: 10;
}

.wrapper-product-desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.product-desc {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

button {
    padding: 8px 10px;

    background: #1D1D1D;
    border-radius: 5px;

    cursor: pointer;
}

button:hover {
    background: #A38D75;
}