.wrapper-form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 33px;
}

form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 10px;
}

input {
    width: 400px;
    height: 50px;

    padding: 0 30px;
    border: 2px solid #1D1D1D;
    border-radius: 5px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

textarea:focus, input:focus{
    outline: none;
    border: 2px solid #B700A4;
}

button {
    padding: 8px 10px;
    
    border-radius: 5px;

    background: #1D1D1D;
    
    transition: 0.1s linear all;
}

button.large{
    width: 400px;
    height: 50px;
    
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background: #A38D75;
}