html,
body,
header,
main,
footer,
section,
div,
form,
input,
textarea,
button {
    margin: 0;
    border: 0;
    padding: 0;
    background: unset;
}



html,
body {
    background: #F5E3CA;
}

header,
main,
footer {
    margin: 0 2%;
}

section {
    margin: 0 2%;
    margin-bottom: 100px;
}

header {
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.wrapper-header-left {
    width: 350px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
}

.wrapper-header-right {
    width: 350px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
}

.icon-logo {
    height: 80px;
    width: 50px;
    
    background-image: url('../img/icon-logo.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center, 50%, 50%;
}

.icon-shopping-bag
{
    height: 52px;
    width: 65px;
    
    background-image: url('../img/icon-shopping-bag.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center, 50%, 50%;
}


.wrapper-header-left{
    justify-content: flex-start;
    gap: 40px;
}

.wrapper-header-right{
    justify-content: flex-end;
    gap: 40px;
}
.icon-shopping-bag:hover
{
    height: 58px;
    width: 65px;
    
    background-image: url('../img/icon-open-bag.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center, 50%, 50%;

}

.bung {
    width: 1px;
    height: 1px;
}

.active-menu{
    text-decoration: underline #B700A4 2px;
    text-underline-offset: 10px;
}

.separate-line {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 1px;

    background: #1D1D1D;
}