.wrapper-block
{
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 400px;
    background-color: aqua;
}

.wrapper-main-block
{
    display: flex;
    justify-content: space-evenly;
}

.marginTop{
    margin-top: 42px;
}


.icon-shopping-bag
{
    height: 65px;
    width: 80px;
    
    background-image: url('../../common/img/icon-shopping-bag.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center, 50%, 50%;
}