.wrapper-block
{
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 400px;
    background-color: aqua;
}

.wrapper-main-block
{
    display: flex;
    justify-content: space-evenly;
}

.marginTop{
    margin-top: 42px;
}